
<div class="contact">

    <div class="contact--close"><span class="contact--close__btn"><img src="img/close.svg" alt="close"></span></div>

    <div class="contact__main">
        <h4 class="title__top">We will be glad to be in touch with you!</h4>
        <p>Voice or text ­ you choice!
            All communications are kept strictly confidential.</p>
        <span>Business hours are 10 EST ­- 12 EST, 
            but honestly rest is not for us and we are usually available 
            way outside this timeframe both on workday, weekends and holidays!</span>

        <ul>
            <li><a href="mailto:mail@mail.com"><img src="img/mail.svg" alt="">mail@mail.com</a></li>
            <li><a href=""><img src="img/telegram_c.svg" alt="telegram">+7 916 123 ­45 ­67</a></li>
        </ul>
    </div>
</div>