
@@include('head.html')

<div class="wrapper">

    <header class="header">

        <div class="logo"><a href="/"><!--<img src="img/logo.png" alt="logo">-->NOVATOR</a></div>

        @@include('nav.html')

        @@include('contact.html')

        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="close-nav-mobile-block"></div>

    </header>

