
<div class="nav">

    <ul>

         <li>
             <a href="services.html">Services</a>
         </li>

         <li>
             <a href="pricing.html">Pricing</a>
         </li>

         <li>
             <a href="portfolio.html">Portfolio</a>
         </li>

         <li>
             <a href="how-we-work.html">How we work</a>
         </li>

         <li>
             <a href="team.html">Team</a>
         </li>

         <li>
             <a href="tech.html">Tech</a>
         </li>

        <li>
            <a class="nov__btn nov__btn--contact">Contact us</a>
        </li>

    </ul>

</div>