.nov__btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 0;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background: transparent;
    width: auto;

      @media screen and (min-width:813px) {
        &:hover, &:focus, &.active {
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }
      }

      &--contact {
        border: solid 2px $color-nav-hover;

          &.active {
            background: $color-nav-hover;
            color: #ffffff;
          }

          @media screen and (min-width:813px) {
            &:hover, &:focus {
              background: $color-nav-hover;
              color: #ffffff;
            }
          }
      }

}


