
.contact {

  background: #000000;
  padding: 30px 3.125rem 4.1875rem;

  position: fixed;
  right: -100%;
  top: 60px;
  height: calc(100% - 60px);
  z-index: 6;
  width: 100%;
  display: block;
  margin: 0;

  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;


    @media screen and (min-width:1560px) {
      max-width: 859px;
    }

    @media screen and (min-width:813px) {
      max-width: 600px;
      top: 0;
      height: 100%;
    }

    &--close {
      text-align: right;

        @include respond-to(phone) {
          padding-bottom: 10px;
        }

      span {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: inline-block;

        img {
          width: 100%;
        }

        @include respond-to(phone) {
          width: 20px;
          height: 20px;
        }
      }

    }

    &.show-contact {
      right: 0;
    }

    &__main {
      overflow-y: auto;
      height: 100%;

      /* width */
      ::-webkit-scrollbar {
        width: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #212121;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .title__top {
        color: $colorOrange;
        line-height: normal;
        margin: 0 0 3rem;
        padding: 0;

          @include respond-to(phone) {
            font-size: 30px;
          }
      }

      p, span, a {
        color: #ffffff;
      }

      p {
        font-size: 1.875rem;
        line-height: 1.67;
        margin-bottom: 3.125rem;

        @media screen and (min-width:1560px) {
          font-size: 2.5rem;
        }

        @include respond-to(phone) {
          font-size: 1.25rem;
        }
      }

      span {
        display: block;
        font-size: 1.25rem;
        line-height: 2;
        margin-bottom: 1.25rem;

        @include respond-to(phone) {
          font-size: 16px;
        }
      }

      li {
        line-height: 2.67;
      }

      a {
        @include flexBox(flex-start, row, center);
        font-size: 1.875rem;

          img {
            flex: none;
            margin-right: 15px;
            width: 30px;
          }

          @include respond-to(phone) {
            font-size: 20px;
          }
      }

    }



    @include respond-to(phone) {
      padding: 15px 1.125rem 4.1875rem;
    }

}